@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #13182b 0%, #132a53 100%);
    padding: 1.5rem 0;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 16px 14px 0 #01452d;
}

.duration {
    display: flex;
    justify-self: start;
    margin-bottom: 0.5rem;
}

.duration span {
    background-color: rgb(0, 70, 70);
    border: 1px solid aquamarine;
    padding: 0.5rem;
    border-radius: 0 1rem 1rem 0;
}

.institutionInfo {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.level {
    font-size: 1.5rem;
    font-weight: 800;
}

.institution {
    font-size: 1.2rem;
}