@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0% 10%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menu-items {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

.menu-items a {
  font-size: 1.5rem;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 925px) {
  .container {
    margin: 0 5%;
  }

  .navbar {
    flex-direction: column;
    align-items: start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.8rem;
    background: rgb(26, 44, 109);
    background: linear-gradient(
      0deg,
      rgb(26, 44, 109, 0.2),
      rgb(26, 44, 109, 1)
    );
    padding: 1.5rem 2rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
